{% extends "template.html" %}
{% load static %}
{# block head#}
{% block title %}Главная страница{% endblock %}

{#block body#}



{% block content %}
    <div class="section-top">
        <img src="{% static './img/slider0.jpg' %}" alt="" class="img-responsive">
    </div>
<div class="section">
    <div class="container">
        <div class="row">
            {% for product_image in products_images %}
                <div class="col-lg-3">
                    <div class="product-item">
                        <div>
                            <img src="{{ product_image.image.url }}" alt="" class="img-responsive">
                        </div>
                        <h4>{{ product_image.product.name }}</h4>
                        <p>
                            {{ product_image.product.description|truncatechars_html:100 }}
                        </p>
                        <div class="price">
                            {{ product_image.product.price }}&nbsp;&nbsp;{{ product_image.product.currency }}
                        </div>

                        <div class="add-to-card-btn">
                            <button class="btn btn-success">
                                Добавить в корзину
                            </button>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}



{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static './css/style.css' %}">
{% endblock %}
{% block scripts %}{% endblock %}