{% extends "template.html" %}
{# block head#}
{% block title %}Главная страница{% endblock %}

{#block body#}
{% block header %}
    <p>Это загаловок</p>
{% endblock %}

{% block content %}
    {{ name }}
    <h1>Эта главная страница приложения</h1>
    {% include "./includes/index_include.html" %}
{% endblock %}

{% block footer %}
    <p>Это подвал</p>
    <a href="/send_certificate_file">Перейти к отправке файла</a>
{% endblock %}

{% block links %}{% endblock %}
{% block scripts %}{% endblock %}