{% extends "template.html" %}
{% load static %}
{# block head#}
{% block title %}Главная страница | e-shop.com {% endblock %}

{#block body#}



{% block content %}
    <div class="section-top">
        <img src="{% static './img/slider0.jpg' %}" alt="" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Новые поступления
                    </h1>
                </div>
                {% for product_image in products_images %}
                    {% include 'mainApp/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
	<div class="section section-delivery">
		<div>
			<h3>Free shipping</h3>
		</div>
	</div>
    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Телефоны
                    </h1>
                </div>
                {% for product_image in products_images_phones %}
                    {% include 'mainApp/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Ноутбуки
                    </h1>
                </div>
                {% for product_image in products_images_laptops %}
                    {% include 'mainApp/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section4 headphones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Наушники
                    </h1>
                </div>
                {% for product_image in products_images_headphones %}
                    {% include 'mainApp/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section5 different-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Игровые консоли
                    </h1>
                </div>
                {% for product_image in products_images_game_consoles %}
                    {% include 'mainApp/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section6 different-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Разное
                    </h1>
                </div>
                {% for product_image in products_images_different %}
                    {% include 'mainApp/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="javascript://0" onclick="slowScroll('#up')" id="toTop"><img  class="scrollUp" src="{% static './img/icon_top.png' %}" alt=""></a>
{% endblock %}

{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/bubbles.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static './js/bubbles.js' %}"></script>
    <script src="{% static './js/scrollUp.js' %}"></script>
{% endblock %}