<!doctype html>
<html lang="ru" id="up">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="author" content="Bogdanov D.D.">
	<meta name="keywords" content="">
	<meta name="description" content="">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static './favicon.ico' %}">
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static './js/scripts.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-content">
        {% include 'includes/navbar.html'%}

        {% block content %}
        {% endblock %}
        </div>
    </div>

    {% include 'includes/footer.html'%}
</body>
    {# includs links and scripts #}
    {% block links %}{% endblock %}
    {% block scripts %}
    {% endblock %}
</html>