<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="author" content="Bogdanov D.D.">
	<meta name="keywords" content="">
	<meta name="description" content="">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static './favicon.ico' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
    {# includs links and scripts #}
    {% block links %}{% endblock %}
    {% block scripts %}{% endblock %}
</html>